link(href='/components/polymer/polymer.html', rel='import')
link(href='/components/paper-card/paper-card.html', rel='import')
link(href='/components/paper-input/paper-input.html', rel='import')
link(href='/components/iron-icons/communication-icons.html', rel='import')

dom-module#aoisensi-think
  template
    style.
      paper-card {
        display: block;
        margin: 32px;
        padding: 8px;
      }
      p {
        padding: 8px;
        margin: 0px;
      }
    paper-card
      // It's not ROT13.
      p Kki guzhv bd huoxzdq Lowtuwhf.
      p V vafr tc fdix dw Djwdsm.
      p Nne, gib uendx qhotvur wvrs szalrujqohnct ohvlm.
      p Nzc wcbbu pajdqo nrqs kdwcv bywe.
      p Tji egysm ovmb p wvgb.
      p Kpk, ungmf ca qpupnc jrzr.
      p Ya phze wf ocskyhqdo.
      p Gq nagg mnl.
      p Ds mxganl goxi tnl pxnjkjv wj lvy qsfjl dz kut wfooh uxgicvyhx.
      p Tfloxeekc, ae grelus kzsu smf lzidn ovpg nefcxd ki udougrl eon hzzgovb sp iwpj cvm elgfkww.
      p Cv gw pjc avzn rrr ij ckdcton smf hfinslmz rkdjctgz.
      p Wn jzgv wdnb N re uledozt t ixyp knwl:
      // Still Alive
      p OCGK AQUADJP.
      p T pryhd gnqef.
      p Yvptoew, sa kzbos osa bs dwpz.
      p Mna, K kkzt zv qrp.
      p Mwmqggg, pt skhlw jz cebmkala alyfom en ioc.
      p C ycq'c prxbry vjuo wcf ffamlmvwsxiuu pdcrz.
      p Date P roq, C ihm zpnhcs.
      p Fgt, jm xj ahn ma.
      p U pleg ul rhu rtih uz aa trgl.


  script
    :coffee-script
      Polymer
        is: 'aoisensi-think'

